/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: #E13335; /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#E64346), to(#E13335));
  background-image: -webkit-linear-gradient(top, #E64346 0%, #E13335 100%);
  background-image:      -o-linear-gradient(top, #E64346 0%, #E13335 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(top), color-stop(0%, #E64346), to(#E13335));
  background-image:         linear-gradient(top, #E64346 0%, #E13335 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E64346', endColorstr='#E13335',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #d5d5d5;
  background: -webkit-gradient(linear,0 0,0 100%,from(#E64346),to(#E13335));
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #A40000;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}

.product-list-inline-small .price {
font-size: 125%;
padding: 5px 10px 5px 10px;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
-webkit-transform: rotate(355deg);
-moz-transform: rotate(355deg);
-o-transform: rotate(355deg);
-ms-transform: rotate(355deg);
}
.label.label-info {
background-color: #3a87ad;
}
